[2020-03-18 01:59] xdamman opened #2 "Help projects raise money"
Some projects need funding.

From rspineanu on Discord

**Step 1** could be to simply add a field asking for funding needs (if any) so that we record the information and we can surface it.

<img width="1038" alt="Screenshot 2020-03-18 at 02 13 23" src="https://user-images.githubusercontent.com/74358/76915706-8739ab80-68be-11ea-8dfc-90ccfbb1d85d.png">

Can someone add that? (sorry my skills are nod

[2020-03-18 15:55] tinnei opened #6 "Add level of availability for volunteers"
From #hwc-feature-request -

Suggestion:
- For new volunteers, we can prompt "Level of availability" as they get added into the project.
- For existing volunteers, we can send batch email to volunteers to ask them to add back their "Level of availability".

[2020-03-18 15:57] heri opened #8 "Be able to browse by skillset"
There are too many projects.Users should be able to quickly see where they can contribute without going to each one of them, especially if they have expert skills such as "Epidemiologist" or "Data science"

- [ ] Projects can have skills such as medical, finance, programming language
- [ ] Users can browse projects list by skills. Click on "medical" and then it would restrict the list to projects

[2020-03-18 16:07] tinnei opened #9 "[Help wanted] Allow users to add projects without owners"
From discord channel #hwc-feature-request:

[code]

Suggestions:
- Add a separate section for project without owners -- similar to "create project" but these projects with have automatic tags "Project without owners" or "need out reach to owners".

[2020-03-18 22:33] vcavallo commented on #8
https://github.com/sradu/covid-volunteers/pull/7 Will close this

[2020-03-19 17:53] adrianthedev commented on #8
https://github.com/sradu/covid-volunteers/pull/12 will allow for paroject and volunteer filtering 🚀

[2020-03-20 04:19] bansalnagesh opened #18 "Integrate Search in the project"
As the number of projects and volunteers increases, it will be essential to integrate search in the Projects and Volunteers page. We will be integrating a simple search to quickly release this feature. The search should be able to search by name, description, and skills.

- [x] Integrate Search in the Projects page
- [ ] Integrate Search in the Volunteers page

[2020-03-20 04:27] bansalnagesh opened #19 "[Help Needed] Add fields to Project Owners"
For project owners, can we add 2 more fields?

- number of volunteers needed
- status: "just started", "need more volunteers", etc

[2020-03-20 05:56] tinnei commented on #19
Instead of "status", let's use "progress".

"Progress" can be like "Just started", "Already have a service" or "Need more volunteers".

[2020-03-20 17:18] sradu commented on #2
@adrianthedev was awesome enough to build it, but I'd like more people say they really want this before I approve it.

There's a popup that appears if projects have more than 50 volunteers, redirecting them to apply to Covid19-response where they can be vetted.

[2020-03-20 17:43] jamiew opened #24 "Spammers are collecting emails from the public directory"
We're currently publishing emails in straight-plaintext:

https://helpwithcovid.com/users

Some solutions off-hand:

* Obfuscate the emails (HTML encoding, replace @ with AT or similar, randomize that, etc)
* "Email this user" and system sends them an email with current user set as reply-to

Other ideas or details on this welcome

[2020-03-20 19:37] wilsonw926 opened #29 "remove "Sign up to volunteer" button if already signed in"
![image](https://user-images.githubusercontent.com/22403821/77193708-e99bd300-6a9b-11ea-9b18-32c3a183b846.png)

Add `<% if !current_user %>` around SignUpToVolunteer Button to allow it to render only when user is not logged in.

[2020-03-20 20:27] #29 closed

[2020-03-20 20:46] wilsonw926 commented on #6
@tinnei can we close this?

[2020-03-20 21:09] jamiew commented on #24
Fixed by https://github.com/sradu/covid-volunteers/commit/ef457e914987660c9b48ed67d8ed11428cfde599

[2020-03-20 21:09] #24 closed

[2020-03-20 22:58] tinnei opened #34 "Adding project type + skill capsules to index and detail pages"
Help people differentiate how projects overlap and find volunteers faster!

<img width="733" alt="Screen Shot 2020-03-20 at 3 57 59 PM" src="https://user-images.githubusercontent.com/9310999/77212235-99386b80-6ac3-11ea-8360-bbae3ceed28b.png">

^Let's do the same for volunteers page as well!

[2020-03-20 23:46] prophesy604 opened #35 "data extract"
Hi,

Would it be possible to get an extract?

1) Which volunteers have signed up for which projects
2) Skill

I think we might have volunteers that are ready to help but are not actively yet on a project. And we have projects that are looking to get help. So I wanted to see if i can help here.

[2020-03-21 01:53] sradu commented on #35
Plan on doing an volunteer email blast soon! What are you thinking about re: matching them together?

[2020-03-21 03:37] jamiew commented on #9
IMHO it'd be fine for people to submit projects they don't 'own.' I'm sure those projects would appreciate the visibility and help.

[2020-03-21 20:17] #18 closed

[2020-03-21 20:17] #8 closed

[2020-03-21 20:17] #34 closed

[2020-03-21 21:24] sradu commented on #19
This was resolved.

[2020-03-21 21:24] #19 closed

[2020-03-22 05:13] wilsonw926 opened #51 "Multi Select Filters?"
Right now we can only select one filter to filter volunteers and project, but these can have more than one tag. We should allow filtering with multiple tags.

i.e. Volunteers that can help with Software AND Biotech, etc.

[2020-03-22 06:24] #6 closed

[2020-03-23 00:13] tinnei opened #56 "Add ability to sort projects and volunteers"
**For projects:**
- "Sort by newest"
- Sort by ASC/DESC
- (maybe) Sort by number of volunteers needed?

**For volunteers:**
- "Sort by newest"
- Sort by ASC/DESC

[2020-03-23 01:20] #35 closed

[2020-03-23 21:46] mainiak opened #64 "Create /about page"
Hello.

I think it would be great if you could create about page with info about this project,
the team behind it, how you are handling login data, etc.

maybe even FAQ and link to github/twitter/etc

With only application itself and Discord server only it doesn't look "legit" enough ... despite I understand that functionality was primary goal which was more needed in crisis that nice PR.

[2020-03-24 02:19] tinnei opened #65 "More visual cues to categories"
Suggested category color separation, definitely up to revision!

### Color 1
- Track the outbreak
- Reduce spread
- News and information

### Color 2
- Scale testing
- Medical facilities
- Medical equipments
- Treatment R&D

### Color 3
- Help out communities
- Map volunteers to needs
- E-Learning
- Job placement
- Mental health
- Social giving

### Color 4
- Other

[2020-03-24 20:12] shen-sat commented on #65
Hi, I'm a junior ruby/rails dev and I'd like to help out by fixing this issue :)

Just to confirm my understanding of the issue: some of the projects are already color coded - the top ones appear orange-y whilst the rest are white (though I'm not sure what this color coding is for..?). Are you looking to extend this same type of coloring to the rest of the projects using other colors?

[2020-03-24 20:37] tog22 opened #67 "Can't select text inside projects on the homepage"
Can we make text inside projects on the home page selectable? I've found myself wanting to copy and paste it, but it's set up so you can only click it.

(I am a web developer, so can help if that's helpful.)

[2020-03-25 03:27] tiegz commented on #56
Assuming the goal of "number of volunteers" needed is to surface projects that are more in-need:

WDYT about a "remaining number of volunteers needed"? e.g. "# of volunteers needed - # of volunteers".

i.e. if a project needs 50 volunteers and has 100 volunteers, shouldn't it surface lower because it's met its demand?

[2020-03-25 03:27] jamiew commented on #64
Thanks, this is a great suggestion. Project is brand-new and all-volunteers so this just hasn't happened yet

[2020-03-25 19:35] #51 closed

[2020-03-25 20:08] prophesy604 opened #74 "Social media/portfolio field links - Volunteer form"
Request by Colin Curtin - WeTrace Project:

"hey could you add a field for linkedin/portfolio/social media onto the volunteer form?"

[2020-03-25 20:27] sradu commented on #74
We already have "interesting links" in the profile form. The help suggestion says:
"For instance your arxiv, github, linked, twitter, or youtube. One per line."

[2020-03-25 20:57] jamiew commented on #67
Thanks for the PR, I'll check it out momentarly! I just renamed the title and added some labels here too

[2020-03-25 21:45] wilsonw926 commented on #67
fixed with PR #71

[2020-03-25 21:59] #67 closed

[2020-03-26 15:47] tog22 commented on #67
Awesome 👍 🏅

[2020-03-27 17:22] prophesy604 opened #79 "Add new entry to Deals"
please add in deals: https://www.humanapi.co/covid-19-response

[2020-03-27 20:57] jamiew opened #80 "Badges for "project type" and "skills needed" should link the relevant category/filter"
Right now they just look nice, but don't allow you to browse from there.

e.g. https://helpwithcovid.com/projects/323-coronapore

See attached

![2020-03-27 at 16-55-44 Project CoronaPore | Help With COVID 19 - a clearing house for projects and volunteers that want to help with the COVID-19 cris… ](https://user-images.githubusercontent.com/1903/77799781-e5e3ef80-704b-11ea-9ac1-6fd9f13f7f4e.png)

T

[2020-03-27 20:59] jamiew opened #81 "Add Google Analytics"
It is nice knowing how many people are visiting

Bonus points to setup events for:

* `start project` (e.g. equivalent to projects#new)
* `create project` (projects#create)
* `start user` (user/registrations#new)
* `create user` (user/registrations#create)
* `volunteered for project`
* I think that's it

[2020-03-27 21:01] jamiew commented on #79
@sradu this has to be done via a production console right now, right? Currently you're only one with access

Happy to help reduce bus number if you want to add me wherever this is hosted

[2020-03-27 21:02] sradu commented on #79
@jamiew anybody with a hwc account can create deals.

[2020-03-28 01:40] jamiew opened #82 "Build a global "Announcement" bar"
Something to appear on all pages, with user-editable text

Maybe an `accouncements` model? Open to ideas on this one

Will also need a basic UI in /admin for editing them

First announcement would be about the new "How to run a volunteer project" playbook

[2020-03-28 01:45] jamiew opened #83 "Link to project owner from project page"
Many users have public profile pages, so we should link to the project owner from the specific project page. Here's the mspaint version:

![2020-03-27 at 21-44-19 Project National PPE coalition | Help With COVID 19 - a clearing house for projects and volunteers that want to help with the C… ](https://user-images.githubusercontent.com/1903/77811927-3a9b6080-7074-11ea-92ca-95ab522a6097.png)

Kicksta

[2020-03-28 01:47] jamiew opened #84 "Add project status field"
We'd like to better track how far along a given project is. When submitting or editing a project, should have a status dropbown menu containing:

- Idea
- Brainstorming
- In development
- In the wild

Name suggestions and more fidelity to this very welcome :)

[2020-03-28 01:49] jamiew opened #85 "Add a FAQ page"
- What is this project?
- Who is behind it? (also all volunteers)
- What kind of projects are being submitted?
- How are projects being evaluated?
- Which projects should I volunteer for?
- Who can I contact with questions?
- What is Discord?
- How do I not get completely overwhelmed by DIscord?
- Your questions here:)

@arminz from Discord is working on a v1 of the text, but we'll need to build a

[2020-03-28 01:52] jamiew opened #86 "More project moderation tools"
Initially will just list projects, newest first

Later should have some additional controls:
- highlight project (currently on the project page for `ADMIN` users)
- hide project (should set status=hidden maybe? Depends on #84
- maybe also voting or commenting in the future? Notes on the project

Anyone working on this might also need to add better seed data, and add their own user account as an AD

[2020-03-28 01:54] jamiew opened #87 "Add images to projects"
Make the site a little less text-heavy! People love images!

We don't have a design to display them anywhere just yet, but we should add a way for a project owner creating a project to attach and upload an image. Should be optional to start, but later would be required?

- store in S3?
- resize to some common-ish dimensions? I assume 16:9, maybe like a thumbnail version that's 300px wide and then

[2020-03-28 01:55] jamiew commented on #79
Oh duh. @prophesy604 was there a reason you filed this? just a TODO for later?

[2020-03-28 01:57] jamiew opened #88 "Add some new fields to projects: Discord, Slack, GitHub URLs"
New fields for projects:
- slack_url
- discord_url
- github_url?
- anything else? other social media? Not sure if anyone is really that far along

The project for this project is a good example! https://helpwithcovid.com/projects/1-help-with-covid

[2020-03-28 05:23] bansalnagesh commented on #84
I am taking this up

[2020-03-28 05:23] bansalnagesh commented on #88
I am taking this up

[2020-03-28 09:28] adrianthedev commented on #81
We need an analytics account set up to do this task.

[2020-03-28 09:31] adrianthedev commented on #85
We need the copy to get started.

[2020-03-28 09:33] adrianthedev commented on #87
If someone creates the S3 bucket, I can build the feature.

[2020-03-28 13:03] jamiew commented on #81
I just set one up, lemme know who wants access (send Google account) @sradu

Tracking code:

[code]

thanks!

[2020-03-28 13:05] jamiew commented on #85
OK, will post again when more is written up

[2020-03-28 14:05] jamiew commented on #87
@sradu could you set that up?

On Sat, Mar 28, 2020 at 5:33 AM Adrian Marin <notifications@github.com>
wrote:

--
@jamiew <https://twitter.com/jamiew> | https://jamiedubs.com
<https://www.jamiedubs.com/>

[2020-03-28 15:25] bansalnagesh commented on #82
There are two gems that make it possible.

https://github.com/starburstgem/starburst
https://github.com/thoughtbot/paul_revere

If our requirement is more specific, we could probably look at integrating notification feed, which can be used both for notifications and banners using something like getstream.io

[2020-03-28 15:58] caseypugh commented on #87
Maybe we can use Imgix for serving images. so we can generate any image size/crop that we want. Assuming they would give us a free account...

[2020-03-28 16:00] caseypugh commented on #86
Rather than build a whole new view, what about just exposing admin privileges on the existing project listing? Could reveal new top level sorts/filters and a dropdown button for each project on the index and project detail views.

[2020-03-28 19:18] sradu commented on #82
@bansalnagesh we've built a super initial basic version of one time messages via cookies. Check the funding_alert and highlight_projects_alert cookies and implementation.

That being said this for this particular issue, and correct me if I'm wrong @jamiew, I believe the goal is to have a bit of information persistent and super visible.

[2020-03-28 19:31] sradu commented on #87
@adrianthedev gave you access to s3!

[2020-03-28 19:34] sradu commented on #81
Got the invite, thanks!

[2020-03-28 19:34] adrianthedev commented on #87
Thanks! I'll pick this up tmr.

[2020-03-28 20:23] #80 closed

[2020-03-28 20:32] sradu commented on #81
It should be up.

[2020-03-28 20:32] #81 closed

[2020-03-28 20:33] sradu commented on #86
I agree with @caseypugh. What I was imagining was if current_user.is_admin? then the project view has a new section with a read background ADMIN ONLY with various buttons inside of it.

[2020-03-28 20:35] sradu commented on #56
I believe this is up. We should create a new issue if we want to tweak it.

[2020-03-28 20:35] #56 closed

[2020-03-28 20:36] sradu commented on #64
This was done!

[2020-03-28 20:36] #64 closed

[2020-03-29 01:15] sradu commented on #86
<img width="1236" alt="Screen Shot 2020-03-28 at 6 14 14 PM" src="https://user-images.githubusercontent.com/82214/77837620-07aea680-7120-11ea-9de6-6e0aba3a61c5.png">

I'm working on a branch where it would look something like this.

[2020-03-29 01:33] jamiew commented on #82
That's correct, ideally it'd be stored in the database we could let
non-developers update it when necessary

On Sat, Mar 28, 2020 at 3:18 PM Radu Spineanu <notifications@github.com>
wrote:

--
@jamiew <https://twitter.com/jamiew> | https://jamiedubs.com
<https://www.jamiedubs.com/>

[2020-03-29 01:34] jamiew commented on #86
Sounds good to me

If it doesn't scale we can cross that bridge

On Sat, Mar 28, 2020 at 9:15 PM Radu Spineanu <notifications@github.com>
wrote:

--
@jamiew <https://twitter.com/jamiew> | https://jamiedubs.com
<https://www.jamiedubs.com/>

[2020-03-29 05:35] bansalnagesh commented on #84
@jamiew We already have a field called progress in projects. How is this going to be different?

[2020-03-29 16:07] jamiew commented on #84
I’m afk but isn’t progress a text field? The idea for this status field is
to behave like an enumeration with the following initial values: idea,
brainstorming, in-development, in-production, finished (?)

Eg we want to have a project state that people could see or filter on

On Sun, Mar 29, 2020 at 1:35 AM Nagesh <notifications@github.com> wrote:

--
@jamiew <https://twitter.com/jamiew> | https:/

[2020-03-29 19:27] #83 closed

[2020-03-29 19:36] #88 closed

[2020-03-29 19:57] j-collier commented on #9
Can I take this one? Should be a fairly straightforward change in the models

[2020-03-29 20:25] prophesy604 commented on #79
Yes... todo later ...

[2020-03-29 20:25] #79 closed

[2020-03-29 20:58] jamiew commented on #9
Please do

On Sun, Mar 29, 2020 at 3:57 PM Justin Collier <notifications@github.com>
wrote:

--
@jamiew <https://twitter.com/jamiew> | https://jamiedubs.com
<https://www.jamiedubs.com/>

[2020-03-30 03:07] sradu commented on #74
Closing this since it already exists! @prophesy604 feel free to reopen again if we need to revisit, or feel free to suggest new wording.

[2020-03-30 03:07] #74 closed

[2020-03-30 03:38] bansalnagesh commented on #82
Please assign this to me.

[2020-03-30 16:35] adrianthedev commented on #87
Apologies for the delay. I had a few fires at the job to attend to today. Will pick this up as soon as posssible.

[2020-03-30 16:48] caseypugh commented on #86
wanted to reiterate the dropdown action button idea that would surface for each project line item.
maybe using something like this https://tailwindcss.com/course/making-the-dropdown-interactive/#app

[2020-03-30 17:04] sradu commented on #86
@caseypugh Sounds good to me. Perhaps ping Jamie Murphey and Cathy to incorporate in a new design? Or you can just PR it.

[2020-03-30 17:26] caseypugh commented on #65
hi @shen-sat - I believe what we need is to create unique colors for each of the categories listed here. https://helpwithcovid.com/
![image](https://user-images.githubusercontent.com/156097/77941616-71e25b00-7288-11ea-8d3b-b2e8979a5b03.png)

I think we'd simply hardcode these colors in the code. Perhaps creating a unique CSS class for each group of categories?

@tinnei - what's the reasoning behin

[2020-03-30 17:33] caseypugh commented on #82
assigned!

[2020-03-31 01:25] jamiew opened #98 "Add a "country" field and dropdown menu to Projects"
Not sure if there is a canonical list of countries or country codes out there, but we'd like to ask projects for a specific country, in addition to the open-ended "Location" field that is there currently. Should be supplemented with "Global" as first option.

[2020-03-31 01:25] jamiew commented on #85
Thanks for @arminz we've got a first version of this – will share shortly

[2020-03-31 01:28] jamiew opened #99 "Compile list of forks and projects similar"
What forks or similar initiatives are out there?

We'd like to list them as a "related projects" or similar list on the FAQ page to start, and potentially integrate with something like #98 in order to direct projects to a more region- or language-specific fork.

For now let's just keep here and then move to the FAQ, but might make sense to hardcode into the app so we can do that "suggested site" i

[2020-03-31 01:29] jamiew commented on #86
Renamed this ticket to reflect just adding more mod tools as needed

Possibly just close it until something more specific?

[2020-03-31 01:37] jamiew opened #100 "Create dedicated pages for project categories"
This is more of an epic or design project than a standalone issue, but I'm opening it for discussion and contribution, especially related to design and things I've missed.

We'd like to transform the simple "filter projects by tag"  – for Medical Equipment, Help the community, Scale testing, Track the outbreak, Communications, etc – into more dedicated-looking pages where we can:

a) explain what

[2020-03-31 01:40] jamiew opened #101 "New design for homepage"
Another medium-sized design project. @tinnei and Cathy (what's your GitHub username?) have raised hands to take a first crack at this, but contributions and feedback are very, very welcome.

The problem: as a user landing on the site, it's hard to tell what's going on. 400+ projects are a lot to digest and makes it hard to for me to build trust in the site.

Solution: create a curatable homepage t

[2020-03-31 10:18] tinnei commented on #84
Re status name - can we update the status names to the following? (@sradu @jamiew)
1) Just Started
2) In Progress
3) Launched
4) Actively Recruiting

Fyi, we're working to add these capsules with icons indicator to the project card/object.[
![Screen Shot 2020-03-31 at 3 12 20 AM](https://user-images.githubusercontent.com/9310999/78015100-beb44900-72fd-11ea-8601-ad6d575151ef.png)
](url)

[2020-03-31 12:09] tinnei commented on #82
@bansalnagesh Added design in figma - please follow the copy in the toast design 🙏
Note: we want to differentiate 2 toasts: one in other page, one in resource page(deals). Same style, different copy, different CTA.

![Screen Shot 2020-03-31 at 5 06 39 AM](https://user-images.githubusercontent.com/9310999/78024603-7e5cc700-730d-11ea-9897-1fe41cb8a589.png)

Figma link:
https://www.figma.com/file/7PS

[2020-03-31 13:47] jamiew commented on #84
@tinnei that sounds great to me. Do we have any projects that are "live but not recruiting anymore"?

[2020-03-31 13:47] jamiew commented on #87
No problem and thank you!

[2020-03-31 17:03] bansalnagesh commented on #84
I have changed the project status to the above values.
I can add Project Status filters as well if needed.

[2020-03-31 17:07] bansalnagesh commented on #82
@tinnei @jamiew

Just to be clear, these announcements and notifications are only for logged in users, right?

[2020-03-31 18:43] caseypugh commented on #82
@bansalnagesh this should be for all users. thanks! let us know if you have any other questions

[2020-03-31 18:44] tinnei commented on #82
Ahh yes, let's do for all users. @bansalnagesh (ignore the user=project owner part.)

[2020-03-31 18:52] caseypugh commented on #84
hey looking good @bansalnagesh. Apologies... we keep on debating on our end about the naming of these statuses. Is there a way to have a fixed/constant string for each status type that never changes, but also have a different display string for each constant? This way we can easily tweak the naming in the future without needing to update the DB with the new name.

We now want:
[code]

and we remov

[2020-03-31 18:57] tinnei commented on #82
Also given priority from the team: we want to add both playbook and webinar recording to the resource page (deals page, we'll be updating it to "Resource" in another issue once design is final).

@caseypugh @jamiew @sradu please review design + copy:
![Screen Shot 2020-03-31 at 11 51 41 AM](https://user-images.githubusercontent.com/9310999/78064098-0fe82b00-7346-11ea-9be7-fafcfe647ef6.png)

[CTA l

[2020-03-31 21:11] jamiew opened #102 "Redirect http:// and "www." URLs to canonical (https, no www)"
Let's just agree on https://helpwithcovid.com as canonical

For SEO reasons we should:

* redirect http:// URLs to https://
* redirect www.helpwithcovid.com URLs to just helpwithcovid.com

cc @sradu unless you want to go with "www." URLs. I noticed on site currently it's mostly non-www which I also prefer, DNS issues notwithstanding

[2020-04-01 01:57] jamiew opened #103 "Allow projects to have multiple owners"
Specifically so that multiple people can receive the volunteer notifications

Request from project owner Phil this evening. Thanks!

[2020-04-01 05:35] sradu commented on #102
This should be Ok now!

[2020-04-01 05:35] #102 closed

[2020-04-01 06:25] lisamai commented on #98
Gave this a go based on ISO countries. I based the helper text on the Location field; not sure if that was correct. Looks like this:

Edit view
![image](https://user-images.githubusercontent.com/3603130/78105696-c3413600-73bf-11ea-99ba-ac861de2dc12.png)

Edit view with dropdown selected.
![image](https://user-images.githubusercontent.com/3603130/78105707-c9371700-73bf-11ea-8811-0b791a54e65c.png)

[2020-04-01 13:49] caseypugh commented on #98
@lisamai that's exactly what we're looking for! The one additional change would be to make the country clickable and it'd take you to the list of projects filtered by country.

[2020-04-01 16:39] caseypugh opened #107 "Add ability to mark which projects need volunteers"
So that we can focus efforts to the right projects and let project owners let people know when they don't need more help. Eventually we can filter/segment by this option.

[2020-04-01 19:59] sradu commented on #98
This is great but we need to think about it a bit more. We have a field called location that asks where volunteers should be from.

We should re-use the location for that, and perhaps build a migration script for the data, from free form to ISO select.

Perhaps also change the text to have it more encompassing: "Does this project target a certain area and wants volunteers only from there?" or some

[2020-04-01 21:44] jamiew commented on #102
Great thanks. I also invited you to the Google Search Console for the site

On Wed, Apr 1, 2020 at 1:36 AM Radu Spineanu <notifications@github.com>
wrote:

--
@jamiew <https://twitter.com/jamiew> | https://jamiedubs.com
<https://www.jamiedubs.com/>

[2020-04-01 23:47] tiegz commented on #103
Methinks I could pick this one up -- I'll start looking into it now 👀

[2020-04-02 04:54] tinnei opened #109 "Add tweet length description field"
Hi all! We'll need to add a **"Short description"** field to the project page. The character limit should be 129 chars. (😬 cc: @caseypugh @jamiew )

This is for our new project card design - easier for users to read on home page!

<img width="698" alt="Screen Shot 2020-04-01 at 9 53 52 PM" src="https://user-images.githubusercontent.com/9310999/78211953-4ebfd300-7463-11ea-871b-49e73e7c0444.png">

[2020-04-02 06:30] phylor commented on #98
I like the idea of the target market. 👍 I assume that people would want to help out in their local area.

I don't see the need for a migration script though. Imagine you're manufacturing something in Germany (you have the infrastructure there), but your target market is Sweden (where your product is required). We don't know whether the volunteer location is the same as the target market.

The same

[2020-04-02 06:34] phylor commented on #99
There's a Swiss fork here: https://helpwithcovid.opendata.ch/

Apparently there's also an Australian fork.

I hope that in the midterm we manage to have the platform open for all locations. Curation could be done either by having moderators per country or "crowd-curate" (e.g. upvoting of projects).

[2020-04-02 15:28] caseypugh commented on #109
Just wanted to note that on the project form, let's phrase this display this field as:
`Describe your project in a Tweet:`

[2020-04-02 17:24] caseypugh commented on #101
We have a [final-ish design](https://www.figma.com/file/7PSJtPUtwrdPRtXbtQFRFZ/helpwithcovid.com?node-id=188%3A2224) for new homepage.
![image](https://user-images.githubusercontent.com/156097/78278624-4eb3e780-74e4-11ea-8e72-611c782b49bb.png)

More changes are coming but will probably be minor. [Figma link](https://www.figma.com/file/7PSJtPUtwrdPRtXbtQFRFZ/helpwithcovid.com?node-id=188%3A2224) al

[2020-04-02 17:27] caseypugh commented on #107
Semi-resolved in #108 and #110 . cherry on top will be the new homepage (#101)

[2020-04-02 17:27] #107 closed

[2020-04-02 21:35] #84 closed

[2020-04-02 21:37] sradu commented on #98
@jamiew @caseypugh looking for input here

[2020-04-03 03:25] bansalnagesh commented on #109
Please assign this to me.
Just a quick question, for existing projects, do we want to truncate to 129 characters from their long description by default, which they can edit later on or do we want to keep it as blank?

[2020-04-03 22:42] #82 closed

[2020-04-04 01:36] lisamai commented on #98
Either way is fine with me; I think making this a target market could make sense to differentiate the purposes. Besides that decision, if the country is clickable to filtering, then would we want country to also be one of the filter options at the top? Listing all the countries may be overwhelming.

[2020-04-04 08:30] adrianthedev commented on #101
I picked this up. I will have a PR soon.

[2020-04-04 21:31] cat-liu commented on #101
Hi all, here is the finished ver. of the both the desktop and mobile versions of the homepage. Adrian, @tinnei added the assets on the side, let us know if you need anything else.

Head over to the [https://www.figma.com/file/7PSJtPUtwrdPRtXbtQFRFZ/helpwithcovid.com?node-id=392%3A0](url) for v.6 final version.

![image](https://user-images.githubusercontent.com/20099770/78461775-be5ed980-7680-11ea

[2020-04-04 22:52] tinnei commented on #101
^Fyi, the finished version is similar to the final-ish one posted last week. The differences are:
- added search bar on header
- added mobile version
- pulled out graphics and icons on the right

Also added default image to assets:
<img width="245" alt="Screen Shot 2020-04-04 at 3 42 45 PM" src="https://user-images.githubusercontent.com/9310999/78462875-55c92a00-768b-11ea-8d94-efb375c5f8ed.png">

[2020-04-05 00:22] cat-liu commented on #101
UPD 4/4 from @tinnei and I. Passing off onto dev, let us know if you have any questions.

Final Homepage link via Figma: [https://www.figma.com/file/7PSJtPUtwrdPRtXbtQFRFZ/helpwithcovid.com?node-id=408%3A2132](url)

A few quick changes today before finalizing:

**Increased the image size on project card so that it is bigger. Now it is 367x130**
![image](https://user-images.githubusercontent.com/20

[2020-04-05 02:03] jamiew commented on #2
Wdyt of lowering that threshold to ~5 volunteers and then closing this out? I think financing is great but out of current scope

Maybe list fundraising opportunities alongside Offers/Deals?

[2020-04-05 02:19] jamiew commented on #98
I'd propose:

* we add this country dropdown as a new field `projects.country` which is tied to ISO, but change the  question to say something like what @sradu proposed: "Is this project only targeting people in a specific country?"
* keep the open-ended `location` field but change question to: "Specific state, province or city within that country?"
* migrate the existing data. Delete Global & fri

[2020-04-05 02:54] sradu commented on #98
@jamiew because the current wording for location is: 'Do volunteers need to live in a certain location? Write remote otherwise.' we have to be careful about the migration.

The proposed idea here, which I support, would have the location field refer to target market instead of volunteers.

So one migration could be:
1) rename location to volunteer_location
2) add target_country & target_location

[2020-04-05 18:36] caseypugh commented on #109
@bansalnagesh No, that's ok. Would like to know which projects have & havent filled it out. We can just choose to display a truncated description if the the tweet version doesn't exist.

[2020-04-06 11:13] codepar commented on #87
Just starting to explore the project and hats off team!
My 5 cents: Maybe using cloudinary (as a free storage alternative) for images could be a more cost efficient for some "related" projects that are running on "free tiers". In the spirit of helping local projects also run as much on a "zero cost" as possible.

[2020-04-06 14:55] jmstfv opened #115 "Escape user input"
I managed to sneak a link to my website by inserting the anchor tag into the input field. You're not escaping the user input, and that's ripe for abuse by spammers.

You're  [using simple_format](https://github.com/helpwithcovid/covid-volunteers/blob/master/app/views/offers/show.html.erb#L51), which sanitizes the input but doesn't escape it.

Quoting [Rails docs](https://api.rubyonrails.org/classe

[2020-04-06 18:03] caseypugh commented on #101
@tinnei @cat-liu as we're building this out, thinking through some of the top-level information on project cards. Showing the date of when something was created for every project might not be too relevant. Knowing that a project is 30 days old vs 1 day old doesnt mean too much to me. Thoughts on just removing it?

[2020-04-06 18:25] cat-liu commented on #101
@caseypugh I thought it would be useful information in terms of sorting, explaining the progress of a project in comparison to the number of days since it has started/in progress/launched and would be good for volunteers to decide whether they want to join a project that is more established or more early stage.

[2020-04-06 21:10] jamiew commented on #115
@jmstfv would happily accept a pull request for this (and any other spots we might not be sanitizing). Bonus points for tests. Thanks!

[2020-04-06 21:12] jamiew commented on #86
Going to close this in favor of more specific issues (when necessary)

[2020-04-06 21:12] #86 closed

[2020-04-06 21:12] jamiew commented on #85
Closing unless this becomes more of a priority

[2020-04-06 21:12] #85 closed

[2020-04-06 21:19] sradu commented on #115
From the channel:

I think it was intentionally done like that if simple_format was added to that section - if you are offering something for volunteers and projects dealing with COVID-19 a link back is not a big deal.

Outside of linking back, genuinely asking, is there any other attack vector?

[2020-04-06 21:29] jamiew commented on #2
Closing out this specific issue but open to idea down the road if it makes sense. Please bump if so

[2020-04-06 21:29] #2 closed

[2020-04-06 22:04] jamiew opened #117 "Add some Google Analytics events"
Specifically, firing events on the relevant page for:

* User started (e.g. `users#new`)
* User created (`users#create`)
* Project started (`projects#new`)
* Project created (`projects#new`)
* Volunteer created (`projects#toggle_volunteer` iirc)

Having both start & create means we can see some basic funnels

[2020-04-07 02:43] jamiew commented on #115
I'd have to test this, but if we're not sanitizing HTML, couldn't you inject a <script> or a malicious <img> tag?

[2020-04-07 02:44] jamiew commented on #98
Is there a benefit to collecting and storing `volunteer_location` or is that more just to keep the existing data as-is?

[2020-04-07 02:51] sradu commented on #98
@jamiew the latter - we can drop it if we don't need city/state.

[2020-04-07 02:54] sradu commented on #115
Seems to sanitize by default according to: https://apidock.com/rails/ActionView/Helpers/TextHelper/simple_format. Perhaps try it out?

[2020-04-07 04:32] cat-liu opened #119 "Add Project Name & Role Tags to Volunteer Pop-up"
Before:
![image](https://user-images.githubusercontent.com/20099770/78630072-9c668200-784d-11ea-80ab-f4ef46573c48.png)

After (just the content, don't follow the mock-up design):
- [ ] Add project name that volunteer is volunteering for
- [ ] Add 'skill-needed' tags
![image](https://user-images.githubusercontent.com/20099770/78630110-b738f680-784d-11ea-8b9b-c046fe4dfc32.png)

[2020-04-07 21:25] #101 closed

[2020-04-08 02:00] jamiew commented on #98
Cool that makes sense to me

Also just realized should maybe have been commenting on #105 instead... @lisamai would you be willing to implement the changes @sradu proposed in his previous comment?

[2020-04-08 03:01] lisamai commented on #98
Yep, I should be able to get to implementing the suggested field updates in a day or so @jamiew

[2020-04-08 05:57] tinnei opened #122 "[Home page] Add see more to featured project row"
- [ ] Add "See more featured projects" arrow link
- [ ] Link to page with highlighted projects filtered

Figma link here: [[TASK] Home - Featured project row update](https://www.figma.com/file/7PSJtPUtwrdPRtXbtQFRFZ/helpwithcovid.com?node-id=503%3A2 )

<img width="820" alt="Screen Shot 2020-04-07 at 10 52 16 PM" src="https://user-images.githubusercontent.com/9310999/78749120-765ee180-7922-11ea-909

[2020-04-08 06:34] adrianthedev opened #124 "[Home Page] design tweaks"
**Some Quick Feedback:**
- [x] Reduce header and sub header text-size to fit in mobile format. Recommend 24px and 16px vs. current 36px and 24px.
- [x] Remove period for "We are 500+ projects and 9700+ volunteers strong.", add comma in "9,700 volunteers"
![image](https://user-images.githubusercontent.com/20099770/78714822-54893e80-78d1-11ea-9a2c-ae3e314e1b04.png)

- [x] Capitalize P in "projects"

[2020-04-08 06:47] adrianthedev commented on #124
1. 2. 3. done!
4. The style of that label is the same as the ones below (with the icons). Also there's [an issue](url
![image](https://user-images.githubusercontent.com/1334409/78753018-d040c500-797d-11ea-9977-6cd1adffd288.png)
) about that heading. I want to see how that pans out.
![image](https://user-images.githubusercontent.com/1334409/78752989-c4ed9980-797d-11ea-8b82-c07777d8f51d.png)
5. Got

[2020-04-08 06:47] #124 closed

[2020-04-08 07:11] cat-liu opened #126 "[Homepage/Project Card] Left aligned project card components when 0 volunteers"
Project card components: location and time align left when there are no volunteers. See second project card vs. first one.

If no volunteers —> “0 volunteers”

![9A621736-1834-4061-BDDC-E3F0ECFC1018](https://user-images.githubusercontent.com/20099770/78754806-fd18bc00-792c-11ea-9b4a-38b86268b572.png)

[2020-04-08 12:53] jmstfv commented on #115
There are two problems with that.

First, this _feature_ is neither undocumented nor intuitive. I had to insert the anchor tag to make this work. Most posters won't be able or won't bother figuring this out.

Also, posts in that section are not vetted by anyone last time I checked. That's a spam magnet.

[2020-04-08 13:00] jmstfv commented on #115
With `simple_form`, the input is _sanitized_, but not _escaped_. It is safe against JavaScript injections.

[2020-04-08 13:50] caseypugh opened #128 "Update site description"
Up for discussion..

current:
```a clearing house for projects and volunteers that want to help with the COVID-19 crisis```

Mostly just want to replace the phrase clearinghouse with a more common synonym.  Some alternatives
- Find projects and volunteers to help with solve the COVID-19 crisis
- ...

[2020-04-08 13:51] caseypugh commented on #122
ill pick this one up

[2020-04-08 13:52] caseypugh opened #129 "Fix project coloring"
Colors seem to be all over the place at the moment due to caching related issues. Also, this is semi-related to #65

[2020-04-08 14:16] caseypugh commented on #100
We should start picking this up as the next project.   @cat-liu @tinnei do you have designs or WIP designs for this?

[2020-04-08 15:11] caseypugh commented on #65
@tinnei @cat-liu just wondering if this is something you still want now that the homepage is live. Would be helpful to spec the task out more if so (e.g. what are colors 1/2/3?)

[2020-04-08 16:10] cat-liu commented on #100
@caseypugh yes, we have started wireframing how the category pages/all category page will look. Still in wireframing, but plan to review and start pushing forward for next steps,

[2020-04-08 18:07] tinnei opened #132 "Add "Upcoming events" to resources page"
**Please add the following upcoming events to resource page 🙏**

**Header:** Project Owners Office Hours led by Jamie Wilkinson
**Sub-header:** Thursday, April 9th 4pm-5pm PST | [Complete Office Hours Questionnaire ](https://docs.google.com/spreadsheets/d/1TBW8F29202kdKs8kclI-3SZHJMZ6QjYW0l0UfIyFnKc/edit#gid=0)
**CTA:** [Click here to add to your calendar](https://calendar.google.com/event?action=

[2020-04-08 18:19] adrianthedev commented on #132
Are these events different from the ones on the homepage footer?

[2020-04-08 18:58] #122 closed

[2020-04-08 18:58] #126 closed

[2020-04-08 19:03] cat-liu opened #134 "[Create a Project] UPD location field to country dropdown"
UPD this field in “create a project” to either a country drop down or a search-and-select based off of where the project originated.

Q: Potentially expand this issue to allowing users to filter projects by country.

![011002F9-0BDF-41AB-BEBC-2A7E6C68403B](https://user-images.githubusercontent.com/20099770/78822925-b8267100-7990-11ea-881c-49090fb28139.jpeg)

[2020-04-08 20:43] #132 closed

[2020-04-08 22:29] colin-johnston commented on #65
@tinnei @caseypugh I would argue that the color-coding might not scale well across the category page designs, but I'd like to quickly create some mocks that see if it works without becoming too visually noisy. I've started cleaning up the WIP colors for labels, synching them up with the category-specific project placeholder images. I should have something or us to look at tomorrow.

[2020-04-09 00:20] tiegz commented on #103
(got pulled away, but still cranking away at this! PR shortly)

[2020-04-09 02:05] sradu commented on #115
I'm definitely open to changing this if it becomes a SPAM magnet, it's been OK until now. For the resources page (offers_controller) I'd prefer if we go the other route and add auto_link.

[2020-04-09 02:06] lisamai commented on #98
Updated screenshots:

![image](https://user-images.githubusercontent.com/3603130/78850350-ffd6e800-79e4-11ea-83ed-62b37c63dafc.png)

![image](https://user-images.githubusercontent.com/3603130/78850364-09605000-79e5-11ea-946e-28c5df5e3e71.png)

[2020-04-09 02:13] sradu commented on #98
Love this. @lisamai can you please style that select with default tailwind. I believe the classes are in the project sort, you can just copy and paste those should be the defaults.

[2020-04-09 03:47] lisamai commented on #98
Good call, thanks @sradu! Updated the style and element structure so it's consistent with status.

![image](https://user-images.githubusercontent.com/3603130/78855752-cf964600-79f2-11ea-95b6-89213bccf4b7.png)

[2020-04-09 03:54] #98 closed

[2020-04-09 05:17] bansalnagesh commented on #119
Please assign this to me.

[2020-04-09 08:57] shen-sat commented on #65
Hey all, sorry for the radio silence - I'm still able to work on this :) I guess once we have the mocks to look at (ie once I know what colors to implement), I will begin work 👍

[2020-04-09 20:47] tinnei opened #137 "Duplicate projects on index page?"
Currently, I'm seeing the same project on each category, eg: "COVID 19 - Idea Sprint" showed up 3 times.

Is there a way to exclude projects that are already on other rows?

<img width="689" alt="Screen Shot 2020-04-09 at 1 46 20 PM" src="https://user-images.githubusercontent.com/9310999/78939209-8ed91400-7a68-11ea-9b64-7225f4d2d7ba.png">

[2020-04-09 21:31] tinnei opened #138 "[Discussion] Differentiate "Featured project" vs "Actively recruiting projects""
"Featured project" (launched and popular)
"Actively recruiting projects" (interesting new projects)

How should we address this on homepage?

[2020-04-09 23:02] caseypugh commented on #138
An easy idea is to just replace the "featured projects" at the very top with "featured projects that are actively recruiting". Could also filter it down to projects that were created in the last 30 days too.

This will only work well if project owners actually update their project info... left a note about it in [discord](https://discordapp.com/channels/689552739797434432/694435670483009597/697944

[2020-04-09 23:03] caseypugh commented on #137
This should be fairly easy to fix. Will take a stab at it.

[2020-04-09 23:06] caseypugh commented on #134
is this different than what just went live? or can we close this?

![image](https://user-images.githubusercontent.com/156097/78948055-28b6b600-7a95-11ea-97c3-dbbd16598a05.png)

[2020-04-09 23:23] cat-liu commented on #134
Looks like we can close!

[2020-04-09 23:23] #134 closed

[2020-04-10 15:11] jamiew commented on #117
Also to-add:

* `Search`

[2020-04-10 15:48] #129 closed

[2020-04-10 15:55] adrianthedev commented on #137
Wouldn't it be a good idea to randomize those too?

[2020-04-10 15:57] caseypugh opened #140 "Submit existing projects to HWC"
### Problem
 There are many COVID projects out there that are doing great work on solving specific problems already, but they don't exist on HWC. This isn't helpful for HWC volunteers who are looking for the right project or project owners looking to better understand "holes in the market".

### Goal
We need to help volunteers and project creators combine efforts. Build a way for anyone to submit

[2020-04-10 16:02] caseypugh commented on #137
@adrianthedev oh yea, good idea. for some reason I just assumed it was randomized already.

[2020-04-10 16:32] jamiew opened #143 "Add rubocop to CircleCI builds"
Enforce style guide programmatically

We should also add some "before you submit a PR..." info to the README. e.g.

* Run tests: `bundle exec rails spec` (or is `bundle exec rake` still preferred?)
* Run linting: `bundle exec rubocop`
* Anything else?

[2020-04-10 17:53] #137 closed

[2020-04-10 18:27] colin-johnston opened #145 "Refine layout and spacing in Project Card component"
The Project Card component feels bulky and would benefit from adjustments to relative size and spacing of internal elements.

Ideally, this should be done before the card is rendered many times on category pages and filtered views.

![image](https://user-images.githubusercontent.com/1129103/79013496-bc33c980-7b1d-11ea-8e27-3f4ef64cbd5a.png)

Self-assigning to make changes directly to Tailwind CSS

[2020-04-10 18:30] colin-johnston commented on #145
I don't have privileges to edit issue metadata.

I'd suggest:

- assignee: me
- labels: ux/ui, enhancements, fit-and-finish (new label request)
- projects: roadmap

[2020-04-10 19:16] colin-johnston opened #146 "Nav with many menu items breaks branding component"
After creating an account locally I noticed the nav header was breaking:

![image](https://user-images.githubusercontent.com/1129103/79016498-0324bd80-7b24-11ea-8d8a-57aa302e8868.png)

Besides the component issue, I suggest that 8 menu items is not ideal from a usability perspective.

To solve quickly, I suggest we have user-specific dropdown next to Create Project button that contains options in

[2020-04-10 20:13] cat-liu commented on #146
I agree with this suggestion. “Volunteered Projects” should also live under “Your Profile”.

How would double collapse work on mobile?

[2020-04-10 21:04] tinnei commented on #146
Sounds good to me! Looks like with this update, the menu bar will be:

[code]

For mobile, we can have all menu items pan out. Maybe indent the sub-menu.

[2020-04-10 21:17] cat-liu commented on #146
@tinnei

“Your projects” should also live under your profile?

1 Find projects,
2 Volunteers,
3 Resources,
4 Discord,
5 Your profile
-- Volunteered projects
_— Your projects_
-- Log out

[2020-04-10 21:24] colin-johnston commented on #146
We need to provide users a way to get to their Profile page as well.
On Apr 10, 2020, 2:18 PM -0700, cat-liu <notifications@github.com>, wrote:

[2020-04-11 08:36] shen-sat commented on #143
Hi! I can pick this up whilst I'm waiting on input for [issue 65](https://github.com/helpwithcovid/covid-volunteers/issues/65) 🙂

Ha, never knew there was a `chore` tag on Github!

[2020-04-11 13:30] jamiew commented on #143
Can create custom labels :) do you need anything from us to be able to set
this up, or are you able to test it locally?

On Sat, Apr 11, 2020 at 4:36 AM Shen <notifications@github.com> wrote:

--
@jamiew <https://twitter.com/jamiew> | https://jamiedubs.com
<https://www.jamiedubs.com/>

[2020-04-11 21:56] prophesy604 opened #149 "Volunteer skillset add and required field"
Please make volunteers skillset a required field on volunteer profile page.

Please add following skillset:

1) Helpdesk
2) Community Outreach
3) Training Development
4) Legal
5) QA
6) Sales

[2020-04-11 21:58] prophesy604 opened #150 "Assign volunteers"
Please provide the ability to search by name , assign to project, should work with "add volunteers" , any searched then added should also appear when clicking on prepare email.

Please also provide filter by location

[2020-04-11 23:27] prophesy604 opened #151 "Assign volunteer - prepare email"
Please have reply-to be the project owners email address. Remove project owners email address in to:

[2020-04-12 02:25] tinnei opened #152 "Update resource page"
1. **Remove** upcoming event banner on the 4/9 and 4/10 events.
2. **Update** 4/16 event title to " A Global Perspective on Problems Needing Solutions Regarding COVID-19 Response. Live Panel with Ambika Bumb"
3. **Add** upcoming event with this title "Live Panel with Eric Ries coming soon."

[2020-04-12 03:30] cat-liu opened #153 "Location is overflowing on project card"
Looking a little funky @caseypugh @jamiew @sradu . I think we need to remove the input location soon?

![image](https://user-images.githubusercontent.com/20099770/79059828-44f05980-7c33-11ea-88b4-61d925e131ca.png)

[2020-04-12 04:05] prophesy604 opened #154 "Volunteer Matching - Volunteers Assign by Country"
Ability to assign volunteers only from a specific country

[2020-04-12 10:35] shen-sat commented on #143
Ah, in that case I didn't know cutom labels existed :)

I've added rubocop to the circleci config and updated the readme. I've use the circleci CLI tool to check that the new config is still valid. Other than that, I don't think there is much more I can do to test this locally, right? ie the only way to see if this works as expected is to merge with master and see if it passes with no errorso on C

[2020-04-12 10:53] shen-sat commented on #149
Hi I can pick this up :)

Would it be too much if I wrote a feature spec for this? I was thinking of testing two scenarios:
1) Skill set selected and form submitted
2) Skill set not selected and form submitted

[2020-04-12 17:27] prophesy604 opened #157 "HWC - About Page"
Please add:

Ambika Bumb : https://www.linkedin.com/in/ambikabumb/

bansalnagesh (developer)

[2020-04-12 20:04] sradu commented on #157
I need more info for @bansalnagesh!

[2020-04-12 20:05] sradu commented on #157
@bansalnagesh also can you please make a PR

[2020-04-12 20:06] sradu commented on #157
Will push change for Ambika. @bansalnagesh can do a PR that closes this issue!

[2020-04-12 20:06] #152 closed

[2020-04-13 07:26] bansalnagesh commented on #157
Will do today

[2020-04-13 17:17] #157 closed

[2020-04-13 18:41] caseypugh commented on #153
Don't we have three location based fields now? We added those new ones the project card wasn't discussed on how it should be updated after making those changes.

![image](https://user-images.githubusercontent.com/156097/79149142-b1cf3500-7d94-11ea-869f-a4eb32f93960.png)

Probably should use `Target Country` instead? Or leave as `Volunteer location` and simply truncate the text if it goes multiline

[2020-04-13 18:48] cat-liu commented on #153
@caseypugh
For project card, I would imagine it would only show Target Country (search and select). Anything other user-inputted text would not fit on the card from a design standpoint.

Even then... there are some very long country names (char. count) that I am concerned with. For instance USA is spelled out United States of America. What abbreviation integrations are available? If the country li

[2020-04-13 18:57] cat-liu commented on #153
@caseypugh +1 to using Target Country and truncating for longer country names (e.g. United States of America) or are there abbreviations tht can be used?

[2020-04-13 19:05] caseypugh commented on #149
@shen-sat specs are most appreciated!

[2020-04-13 19:06] caseypugh commented on #140
#9 might be the same / related here.

[2020-04-13 19:13] caseypugh commented on #150
@prophesy604 can you elaborate some more on what this feature is? What problem is it solving? Understanding the context would be helpful to making sure we build it correctly.

[2020-04-13 19:14] caseypugh commented on #151
Can this and #154 be merged with #150? Are they all related?

[2020-04-13 20:25] caseypugh opened #161 "Update project detail page"
The existing [project page](https://helpwithcovid.com/projects/262-remote-detection-of-vital-signs-respiration-hr-hrv-for-remote-symptoms-analysis-and-tracking) is very hard to digest. Needs better information hierarchy and general ui/ux love. Also needs to include the upcoming project images (#111)

### Update: Designs finished!
Here is the Figma link https://www.figma.com/file/7PSJtPUtwrdPRtXbtQ

[2020-04-13 20:26] colin-johnston commented on #145
@cat-liu In progress - see PR (I'm not able to move on project board)

[2020-04-13 20:41] jamiew opened #162 "Add `rel=nofollow` to outbound links on project pages"
On a project page like

https://helpwithcovid.com/projects/262-remote-detection-of-vital-signs-respiration-hr-hrv-for-remote-symptoms-analysis-and-tracking

We are automagically linking `http://...` URLs. Those should include `ref="nofollow"` which indicates they are user-generated and negates any value spammers would get from attacking our site.

[2020-04-13 20:46] jamiew commented on #115
I'm going to mark this one as #willnotfix since we haven't run into issues. I've also filed #162 which would further deter spam

Thanks for flagging @jmstfv!

[2020-04-13 20:46] #115 closed

[2020-04-13 20:50] caseypugh commented on #109
I'm reopening this because we need to actually implement them into the new Project Card designs. If tweet lenght exists, use that. Otherwise fallback to old description.

[2020-04-14 01:33] jamiew opened #164 "Add integration tests for key workflows like "create project""
We just had a javascript quirk in the "create project" form block people from creating projects: https://github.com/helpwithcovid/covid-volunteers/pull/163

It would be awesome to add end-to-end, javascript-and-all system tests for that page, varying the input fields to confirm validations work and edge-cases like this don't regress.

[2020-04-14 05:31] cat-liu commented on #145
@colin-johnston please see attached file of ISO countries.

[ISO Countries.txt](https://github.com/helpwithcovid/covid-volunteers/files/4473320/ISO.Countries.txt)

[2020-04-15 01:01] #162 closed

[2020-04-15 01:02] #145 closed

[2020-04-15 01:05] #119 closed

[2020-04-15 01:06] #117 closed

[2020-04-15 21:19] colin-johnston commented on #153
Here is the live project card layout & style with a location set to the longest ISO Country name:

![Screenshot_2020-04-15 Help With COVID-19 2](https://user-images.githubusercontent.com/1129103/79388608-782c3480-7f22-11ea-8dfb-4b174ff0ff13.png)

My suggestion is to provide 2 ways to enter location, each enabled by a radio button. This way only one can be set.

- dropdown with ISO Country names
-

[2020-04-15 22:37] jamiew opened #170 "Need unique titles for category filter URLs"
Currently pages like this are showing up in Google search:

https://helpwithcovid.com/projects?highlight=true

https://helpwithcovid.com/projects?highlight=true&skills=Content

https://helpwithcovid.com/projects?project_types=Medical+equipments

But they all have the same page titles:

[code]

Ideally we'd also be adding clean URLs for these (???) but updating titles in the meantime would make a b

[2020-04-15 22:40] jamiew commented on #143
@shen-sat fixed this one, ty!

[2020-04-15 22:40] #143 closed

[2020-04-15 22:40] jamiew commented on #143
With #156

[2020-04-15 23:00] cat-liu commented on #153
@tinnei feel free to jump in on comments for the above project cards^

I like #1, but is there a way to make the "day" - element stick on its line ( e.g. 2 days ago is directly underneath volunteer number)?

re: text field char. limit -- is this comment for entering a location?

[2020-04-16 00:06] tiegz commented on #170
I think I have a fix for this, comin' up in a bit!

[2020-04-16 00:11] sradu commented on #170
Friendly heads up, the new category page that is almost ready has a fix for this. cc @adrianthedev

[2020-04-16 00:20] tiegz commented on #170
@sradu just to confirm, is the fix in that PR to pull the project type into the path, e.g. `/projects/Medical`, but the rest of the querystring would remain in the path?

[2020-04-16 00:24] sradu commented on #170
Yes,  see the description about the PR here: https://github.com/helpwithcovid/covid-volunteers/pull/167

Dunno is this covers all cases mentioned here, I just want to make sure we're all synced up.

[2020-04-16 00:29] jamiew commented on #170
Ah yes should've specified this is for the new categories PR, which has this same issue. URLs are like `/medical` and some have query strings, but all have same title

[2020-04-16 00:35] tiegz commented on #170
Cool cool, here's a proposed fix: https://github.com/helpwithcovid/covid-volunteers/pull/171

[2020-04-16 00:41] jamiew opened #172 "Resources page upgrade"
Mockup:
https://www.figma.com/file/7PSJtPUtwrdPRtXbtQFRFZ/helpwithcovid.com?node-id=685%3A5709

<img width="1081" alt="Screen Shot 2020-04-15 at 8 39 30 PM" src="https://user-images.githubusercontent.com/1903/79402225-3e2a5500-7f59-11ea-97e5-e78ef5ef5054.png">

Some functional changes

- try to automatically hide events that have passed
- sort deals alphabetically rather than by `created_at`
- add

[2020-04-16 04:05] abhijeetgurle commented on #172
Hey, I would like to help. As I am new to open source contributions, can you get me up to speed by telling me how to contribute to this project ?

[2020-04-16 04:14] cat-liu commented on #153
@caseypugh to answer your question, the card should have a restricted version of the location. Target Country would be the best field for this as we can design around the worst case.

[2020-04-16 04:18] tinnei commented on #153
Re which field to show: +1 on showing "Target country" in this project preview card.

Re design: I don't think we should do location in a separate line just to compensate for a long country name, because it'll look really empty with short country names (most cases). I'd suggest having chat limited to location length, eg: if more then 30 chars, we do "...".

[2020-04-16 09:29] ryanhefner commented on #161
@caseypugh Yo! I have some ideas for this one. Feel free to assign it to me and I can get a first pass up for it later today.

[2020-04-16 14:20] caseypugh commented on #161
@ryanhefner hey man! how are you??

we actually have some incoming designs thanks to @tinnei @cat-liu @colin-johnston - if you want to help build them, that'd be great. we could use the help

[2020-04-16 14:47] caseypugh commented on #161
FYI, updated task with designs & [figma link](https://www.figma.com/file/7PSJtPUtwrdPRtXbtQFRFZ/helpwithcovid.com?node-id=414%3A2306)

[2020-04-16 15:04] ryanhefner commented on #161
Rad! Didn't realize you had designers on it. Yeah, I would be down to help build it out.

[2020-04-16 18:15] #170 closed

[2020-04-17 15:00] caseypugh commented on #161
@ryanhefner that's great! are you in the discord? could join our product group to collab

[2020-04-17 15:43] ryanhefner commented on #161
@caseypugh Yeah, in the Discord. Which one is the product group channel?

[2020-04-17 17:01] adrianthedev commented on #170
I confirm that the category urls will be like `/medical`, `/prevention` , etc.

[2020-04-17 20:51] agustinf opened #178 "Serve the world! We want to provide spanish translation"
We are a team of Ruby on Rails programmers from Chile (we speak spanish). Would it be interesting for you if we enable translations (modify the current code so it uses https://github.com/helpwithcovid/covid-volunteers/blob/master/config/locales/en.yml) for the platform and make a Pull Request with the alternative es.yml?

[2020-04-17 21:36] colin-johnston commented on #153
@cat-liu @tinnei what is status of this? If we are going to limit the chars of location so it fits without wrapping ,we don't need to change the current layout and CSS (#1).

[2020-04-17 21:39] colin-johnston commented on #153
We should put full location text in a title tag so users can reveal the full text that's truncated.

[2020-04-18 03:33] abhijeetgurle commented on #172
Hi @jamiew, Can you assign this issue to me?

[2020-04-20 16:26] prophesy604 opened #179 "Admins only: ability to edit project and volunteer profile details"
Provide admin accounts the ability to edit project and volunteer profile skills needed field to add/remove skills

[2020-04-20 20:34] #149 closed

[2020-04-21 04:14] tinnei commented on #146
Design update from Colin here -
<img width="944" alt="Screen Shot 2020-04-20 at 9 13 59 PM" src="https://user-images.githubusercontent.com/9310999/79824768-e66e5e00-834b-11ea-8206-b842c98d54c4.png">

https://www.figma.com/file/7PSJtPUtwrdPRtXbtQFRFZ/helpwithcovid.com?node-id=864%3A67

[2020-04-21 14:07] caseypugh commented on #161
@ryanhefner - we're in the #admin channels (#admin-product specifically).  Any chance you can work on this today or tomorrow?

[2020-04-21 18:19] colin-johnston commented on #146
@tinnei Thanks for formalizing the presentation here so nicely! 🙌🏻 Very much appreciated.

[2020-04-21 18:21] tinnei opened #181 "4/21 Resource page update"
1) Remove “upcoming event banner” for 4/20 panel and add panel recording

2) Remove “upcoming event banner” for 4/21 panel and add panel recording

3) Add Upcoming Event- 
**Event name:** How to Sell and Know Your Audience | Live Panel with ClozeLoop Founders, Hilmon Sorey and Corey Bray
**Time:** Monday, April 27th 11am PST
**Description:**[ Hilmon Sorey](https://www.linkedin.com/in/hilmonsorey/)

[2020-04-21 19:59] #181 closed

[2020-04-22 05:49] vanillafrosty commented on #109
@caseypugh I tried to open a PR for this, but I got a 403 error:
`remote: Permission to helpwithcovid/covid-volunteers.git denied to vanillafrosty.`

Any ideas on how I can get permissions to create and push to a branch, as well as create a PR?

[2020-04-22 06:22] sradu commented on #109
@vanillafrosty fork and do a PR!

[2020-04-23 01:47] cat-liu opened #185 "Add Funding Links to Resources Page"
**Additional Section Needed:** Add below links to resource page after events & before deals:

![image](https://user-images.githubusercontent.com/20099770/80049983-48080700-84c9-11ea-813e-4a543a907951.png)

**Links:**
[YC S2020 Application](https://www.ycombinator.com/apply/)

[WeFunder ](https://wefunder.com/raise-money)

[80,000 Hours](https://80000hours.org/2020/04/opportunities-to-work-on-covid

[2020-04-23 02:55] sradu commented on #172
Tackling it via #186. @abhijeetgurle next time just work on it - ping us on Discourse. We were looking for people to help build this.

[2020-04-23 02:55] sradu commented on #172
That design is outdated though

[2020-04-23 04:02] #185 closed

[2020-04-23 06:14] sradu commented on #172
Can someone please help me with the links for these?

<img width="1076" alt="Screen Shot 2020-04-22 at 11 14 00 PM" src="https://user-images.githubusercontent.com/82214/80065474-07bb7f80-84ef-11ea-9083-dd76ba89ca41.png">

[2020-04-23 15:44] caseypugh commented on #172
@sradu I can help out - what are the links for each of those? Do you have a list?

[2020-04-23 18:07] #87 closed

[2020-04-23 19:19] #100 closed

[2020-04-23 19:33] cat-liu opened #191 "Category Banner on Homepage Edit"
Triangle around Category Banner on Homepage gets pushed down with new project card size.

![image](https://user-images.githubusercontent.com/20099770/80141427-61a75e00-855e-11ea-9096-fc6bfce36a7e.png)

[2020-04-23 19:49] #179 closed

[2020-04-23 19:51] sradu commented on #161
@ryanhefner awesome!!

There is some discussion on discord, I believe we need to add some elements for the top menu bar and the amazing design team is on it.

also:
* the images PR was merged so we should support that model too
* we should extract the url redirect from demo or interesting links

[2020-04-23 22:35] cat-liu commented on #153
@colin-johnston I think it is still there, has anyone worked on this in dev yet?

[2020-04-23 23:53] colin-johnston commented on #153
@cat-liu Thanks for following up on this and bumping it back up in my queue. I need to make a small change in card template to accommodate long country entries, then this will be 100% done.

The change will keep the time-ago piece directly underneath the volunteer number.

![image](https://user-images.githubusercontent.com/1129103/80160486-9cbb8880-8582-11ea-8fb7-f2aad93145f1.png)

[2020-04-24 01:05] tinnei opened #192 "Add empty states"
**Add an empty state graphic to the following pages:**
- category page (filtered results)
- your project page
- volunteered project page

Note: the graphic should be all the same; messages are different.

**Figma design link:**
https://www.figma.com/file/7PSJtPUtwrdPRtXbtQFRFZ/helpwithcovid.com?node-id=1025%3A7626

(As mentioned in admin-product - @ryanhefner @adrianthedev would any of you want to

[2020-04-24 01:21] cat-liu opened #193 "Parent Category Nav Selecting Two Categories"
/medical and /prevention have 'all categories' selected simultaneously on their respective category pages. As mentioned in product channel, can either @adrianthedev @ryanhefner take this task?

![image](https://user-images.githubusercontent.com/20099770/80164828-eca04c80-858e-11ea-9882-e22bc5566f13.png)

![image](https://user-images.githubusercontent.com/20099770/80164863-f9bd3b80-858e-11ea-8e6d-2

[2020-04-24 01:26] cat-liu opened #194 "Sticking Capsule Fade Opacity"
Looks like the fade is staying on the capsule tag when scrolling on the project card?

@colin-johnston would you like to take this task?

![31061401-2E5F-4AF6-9784-B07F8E9CCDB7](https://user-images.githubusercontent.com/20099770/80165188-c8913b00-858f-11ea-9f55-26417f1c583b.jpeg)

[2020-04-24 01:42] cat-liu commented on #192
@tinnei really like the design :)

[2020-04-24 03:06] prophesy604 opened #195 "Volunteer Match - Prepare Email Text Change"
Hi there! **(Volunteers in bcc:)**

Hope you are all doing well! Thank you for all that you are doing to work on a solution for our world and being part of helpwithcovid.com.

This project needs your help: **[Project Name]** (**Project URL**) **by project owner - [project owner email address]**. I thought you might be able to help. I have included the project owner to this email should have any qu

[2020-04-24 03:47] cat-liu commented on #172
Please add Partner Logos to the bottom of the resources page:

Figma Link: https://www.figma.com/file/7PSJtPUtwrdPRtXbtQFRFZ/helpwithcovid.com?node-id=841%3A186

![image](https://user-images.githubusercontent.com/20099770/80173104-a73a4a00-85a3-11ea-9753-27b309fb0634.png)

[2020-04-24 04:26] cat-liu commented on #161
@ryanhefner please see below for default image request:

**[Figma Link:](https://www.figma.com/file/7PSJtPUtwrdPRtXbtQFRFZ/helpwithcovid.com?node-id=996%3A7372)**
![image](https://user-images.githubusercontent.com/20099770/80174903-ed45dc80-85a8-11ea-8c57-f51f10c184b8.png)

[2020-04-24 15:43] #193 closed

[2020-04-25 01:52] colin-johnston commented on #194
@cat-liu I can't reproduce this in Chrome, Safari, Edge, or Firefox (all latest) on MacOS. Are you using IE Edge on a Windows machine?

Can you please visit https://mybrowser.fyi and send me the report link? Thanks!

[2020-04-25 02:04] #161 closed

[2020-04-25 02:36] cat-liu commented on #194
@colin-johnston it was actually on mobile on safari. I have iphone 11, I am actually not sure about desktop, not sure how to scroll the tags. I can test it though.

https://mybrowser.fyi/report/5ea3a1e29db8470015f82ce6

[2020-04-25 20:06] prophesy604 opened #197 "Volunteer Match - Prepare Email Issue"
For some projects, the prepared email once volunteers are selected is not coming fully:

example: https://helpwithcovid.com/projects/424

https://prnt.sc/s5wi56

[2020-04-26 01:10] #194 closed

[2020-04-26 01:43] #153 closed

[2020-04-26 16:33] #192 closed

[2020-04-26 16:33] #191 closed

[2020-04-27 15:57] vanillafrosty commented on #109
@caseypugh @sradu Can we close this one out?

[2020-04-27 16:51] sradu commented on #109
Yup

[2020-04-27 16:51] #109 closed

[2020-04-27 22:05] prophesy604 opened #204 "As an Admin: Project Details"
Providing the ability for admin to delete a project that is not meeting HWC standards.

Provide the count of volunteers assigned to a project.

[2020-04-27 22:20] prophesy604 commented on #151
This is done. I'm going to close it.

[2020-04-27 22:20] #151 closed

[2020-04-27 23:03] tinnei opened #205 "[Resource page + Footer] Quick updates"
1) **Move 4/27 panel out of upcoming events to recorded live panels section, and update CTA to "See slides and recording".**
CTA link:https://drive.google.com/drive/u/0/folders/1NATDm5yVsYUo8jRY7svE2fqwm1OwcpMu

2) **Add “https://www.helpvolunteer.app/” (H.E.L.P.)  to "Funding, Volunteers, & Research Resources” section.**

3) **Add social media links to footer.**
Twitter link: https://twitter.com/

[2020-04-28 05:02] tinnei opened #206 "[Project detail page] Add # volunteers + org field"
We need to add 2 more info to the project detail page!

1) Add # of volunteers to Project Title card
2) Add “Organization status” to Project Details card (Note: this requires adding new field to the project form)

Figma file here -
https://www.figma.com/file/7PSJtPUtwrdPRtXbtQFRFZ/helpwithcovid.com?node-id=1118%3A9221

Tasks are detailed in "Green" in Figma -
![Screen Shot 2020-04-27 at 10 01 17 P

[2020-04-28 05:06] sradu commented on #172
@cat-liu @tinnei will close this in favor of a new ticket with Misa's requested changes.

[2020-04-28 05:06] #172 closed

[2020-04-28 05:07] sradu commented on #197
this is likely due to an encoding issue if the title has &

[2020-04-28 05:07] sradu commented on #204
This was fixed, you should be able to see the top bar.

[2020-04-28 05:07] #204 closed

[2020-04-28 05:19] tinnei commented on #205
Fyi - bansalnagesh is working on it! https://discordapp.com/channels/689552739797434432/689658307392307306/704552879217836072

[2020-04-28 05:31] cat-liu opened #207 "[Resources Page] Add Partnerships Section"
_Updated: 4/28/2020_

Please add the following partnerships section to the resources page after funding links and before deals:

![image](https://user-images.githubusercontent.com/20099770/80560045-67ed6e00-8994-11ea-9aad-3811052e6e6f.png)
[Figma Link for Design](https://www.figma.com/file/7PSJtPUtwrdPRtXbtQFRFZ/helpwithcovid.com?node-id=1117%3A11909)

- [ ] Add Partnerships Logos
- [ ] Create and

[2020-04-28 06:27] bansalnagesh commented on #207
Please assign this to me.

[2020-04-28 06:35] adrianthedev commented on #146
Looks good! I'll pick it today.

[2020-04-28 06:43] cat-liu commented on #207
Thank you @bansalnagesh for picking this one up!

[2020-04-28 15:47] caseypugh commented on #195
This is good to go in #211 - FYI I made a couple minor copy changes/grammar fixes.

[2020-04-28 15:48] caseypugh commented on #65
no longer relevant

[2020-04-28 15:48] #65 closed

[2020-04-28 16:49] bansalnagesh commented on #207
@cat-liu I don't see the partnership section in the mobile design.
Is it supposed to be hidden on mobile?

[2020-04-28 17:28] cat-liu commented on #207
@bansalnagesh no it is not supposed to be hidden. Finished a bit late last night, will take a look at mobile later today.

[2020-04-28 19:39] #205 closed

[2020-04-28 19:40] #206 closed

[2020-04-28 20:48] sradu commented on #195
@prophesy604 what do you mean by "cancel volunteer offer"? we have no such feature.

[2020-04-28 22:04] sradu commented on #207
@bansalnagesh friendly heads up this is really urgent.

[2020-04-29 00:08] tinnei opened #212 "[Resource + Project Detail] Small updates"
1) Add the following to "upcoming event":
Event name: Group Office Hours with Radu
Date: May 6th
Time: 3:30pm-4:30pm PST.
CTA: [Click here to add to your calendar](https://calendar.google.com/event?action=TEMPLATE&tmeid=NWZvanJyZzYybGM2dmhodmc1YmdsNmRpZWcgb3BlbmFpLmNvbV9wOW5mZ2MyZjltcnJkaGE1OW52M2tjYnNya0Bn&tmsrc=openai.com_p9nfgc2f9mrrdha59nv3kcbsrk%40group.calendar.google.com)

2) If a project h

[2020-04-29 04:14] cat-liu commented on #207
@bansalnagesh @sradu updated request above with...

1) Mobile Design for Partnerships Section
2) Text + Link for ClozeLoop and Turtle Dev (please load in the same order - AWS, ClozeLoop, Turtle Dev, Team Blind). Cards go from Left to Right, Top to Bottom
3) Update Menu Nav on Resources page to jump to Partnerships Section

[2020-04-29 05:30] bansalnagesh commented on #207
Will be working on this today

[2020-04-29 17:35] #207 closed

[2020-04-29 18:30] #146 closed

[2020-04-29 21:02] prophesy604 commented on #195
![image](https://user-images.githubusercontent.com/2389662/80646669-2794fb00-8a3b-11ea-82b2-be27a1dbfbcd.png)
@sradu

[2020-04-30 02:56] bansalnagesh commented on #212
I am working on this.

[2020-04-30 06:55] #212 closed

[2020-05-03 02:28] prophesy604 opened #218 "Project Details Page - Org Status"
![image](https://user-images.githubusercontent.com/2389662/80897176-2e826e80-8cc4-11ea-9ee8-2fad12c52d93.png)

[2020-05-03 02:35] #218 closed

[2020-05-04 18:27] colin-johnston opened #220 "[Volunteer Index Page] Design Update"
We've created a Volunteer card component and built a new Volunteer index view around it.

Figma: https://www.figma.com/file/7PSJtPUtwrdPRtXbtQFRFZ/helpwithcovid.com?node-id=1209%3A9622

Icon assets are available for export in the Figma file.

New requirement: please wrap all 'interesting links' entries in anchor tags so they're clickable.

Please ping @colin-johnston with implementation questions.

[2020-05-04 21:59] prophesy604 opened #221 "Popup on - Deleting a project"
Provide a popup confirming if the project should be deleted when PO clicks on delete by accident:
![image](https://user-images.githubusercontent.com/2389662/81017653-f51b4180-8e30-11ea-8348-2702668477f1.png)

[2020-05-04 22:24] sradu commented on #220
@adrianthedev when you have time do you think you could look into this?

[2020-05-04 22:32] #195 closed

[2020-05-04 22:32] #197 closed

[2020-05-04 22:46] #154 closed

[2020-05-04 22:46] #150 closed

[2020-05-05 05:55] adrianthedev commented on #220
Yes. I make time this week.

[2020-05-05 06:39] prophesy604 opened #222 "Find Projects Page - Volunteers needed"
When sorting by volunteers needed, shows projects that are not looking for volunteers:

![image](https://user-images.githubusercontent.com/2389662/81040511-81e9ed80-8e79-11ea-83d3-a4d2c5e0cd2b.png)

https://helpwithcovid.com/projects/222-spira-s-sms-covid-19-tracker

![image](https://user-images.githubusercontent.com/2389662/81040542-95955400-8e79-11ea-821d-3fb94343758c.png)

[2020-05-05 19:17] shen-sat commented on #222
I can take this one @prophesy604 🙌  I'm signing off now, will start work on it tomorrow

[2020-05-06 08:11] shen-sat opened #225 "Add pry gem"
Makes development so much easier!

[2020-05-06 08:25] shen-sat commented on #222
Hey @prophesy604. Looking at the code, this is expected behaviour: When you click 'Volunteers Needed' in the 'Sort by' section, the page loads all the projects sorted by the number of volunteers each project has (ie projects with fewest/0 volunteers will appear towards the top).

I'm guessing we should keep this functionality for users who want to search for projects who need the most help (ie hav

[2020-05-06 11:37] prophesy604 commented on #222
It should check if the project has closed volunteers aka volunteers filled. if it has, it should not show those projects when you sort by volunteers needed cause they do not need volunteers. in addition to the existing behaviour of showing fewest/0...

does that make sense? @shen-sat

[2020-05-06 11:56] prophesy604 commented on #222
I just verified that the project details page looks at the person's skillset and shows whether the project is accepting volunteers.

My profile did not have the funding skillset, now that I've added it - the project details page allows me to volunteer:

![image](https://user-images.githubusercontent.com/2389662/81173863-ba1f2800-8f6e-11ea-877c-8007d3fc8d61.png)

So since the find projects page sor

[2020-05-06 11:56] #222 closed

[2020-05-07 02:03] tinnei opened #227 "[New page] Success stories"
Hi! Design for success story page is ready here.

Here are the things to add:
1) A new success story page
2) Add "Success stories" to header menu
3) For each blog post, create a separate page with title in the url

Figma link: https://www.figma.com/file/7PSJtPUtwrdPRtXbtQFRFZ/helpwithcovid.com?node-id=1212%3A11467

Tag me in #hwc-com-development if there're any questions!
![image](https://user-ima

[2020-05-07 06:52] #220 closed

[2020-05-07 08:00] tinnei opened #228 "Skill should not be the trigger for "Volunteer filled""
Resurfacing the issue filed by Prophesy here --
https://github.com/helpwithcovid/covid-volunteers/issues/222

We found that if a volunteer's skill is not matching with "skills needed" in a project, the "apply to volunteer" button changes to "volunteer is filled". This shouldn't be the case.

Correct UX:
- If a volunteer's skill is not matching with "skills needed" in a project,
- he/she will still

[2020-05-07 08:07] tinnei commented on #227
@adrianthedev fyi we have 11 stories in total - let me know when you get to this ticket. I'll send you the full doc over Discord!

[2020-05-07 09:28] shen-sat commented on #228
Makes sense! I'll start work on this now, thanks for the heads up @tinnei 👍

[2020-05-07 22:03] #228 closed

[2020-05-08 15:26] adrianthedev commented on #227
@tinnei picking it up now. Please post the doc here.

[2020-05-08 17:18] adrianthedev commented on #227
@tinnei actually that's not necessary. I'll make it editable so you, or any other admin can update those.

[2020-05-13 20:17] jamiew commented on #225
Feel free to send a PR :)

[2020-05-14 05:41] #227 closed

[2020-05-14 09:58] shen-sat commented on #225
Ah I'm going to close this actually - I've been pulled on to another project so I won't be using pry on this project (in the near future at least!)

[2020-05-14 09:58] #225 closed

[2020-05-14 14:07] bansalnagesh opened #231 "Integrate Bitly for lengthy links"
![image](https://user-images.githubusercontent.com/496330/81944159-fbbc6c80-9619-11ea-8544-83114cb97889.png)

For links that are lengthy and breaking the design, integrate bitly and shorten them

[2020-05-14 14:07] bansalnagesh commented on #231
Example Project
https://helpwithcovid.com/projects/784-raise-a-million-for-unemployed-mothers-on-mother-s-day

[2020-05-14 14:11] bansalnagesh opened #232 "External link selection is broken"
The external link that is selected and appears on the card, is broken.

![image](https://user-images.githubusercontent.com/496330/81944720-c7957b80-961a-11ea-8f4b-e43aa3b125f1.png)

![image](https://user-images.githubusercontent.com/496330/81944791-dc720f00-961a-11ea-9eb7-271d5993f2f7.png)

[2020-05-14 14:11] bansalnagesh commented on #232
Reference Projects

https://helpwithcovid.com/projects/784-raise-a-million-for-unemployed-mothers-on-mother-s-day

https://helpwithcovid.com/projects/798-test-me

[2020-05-14 15:37] bansalnagesh commented on #232
I was debugging this issue, found out the root cause. If the documents and docs have any word with : it gets treated as a link. I am working on a fix for this.

[2020-05-14 18:10] #232 closed

[2020-05-14 19:47] prophesy604 opened #235 "Volunteer Office Hours - Selecting time error"
![image](https://user-images.githubusercontent.com/2389662/81978836-14b52580-95fa-11ea-90f0-b72061ff334a.png)

I'm logged in.

I get this error. my profile is filled out

![image](https://user-images.githubusercontent.com/2389662/81979062-65c51980-95fa-11ea-8b2e-75ca778ec2f3.png)

[2020-05-14 19:53] prophesy604 opened #236 "Volunteer Office Hours - Sorting"
Sorting is going to /users page when used within this page https://helpwithcovid-staging.herokuapp.com/office_hours

[2020-05-14 21:38] #235 closed

[2020-05-14 21:38] sradu commented on #235
Fixed

[2020-05-14 21:42] sradu commented on #236
Fix is going up.

[2020-05-14 21:42] #236 closed

[2020-05-15 01:20] sradu commented on #231
I don't like that we have to pay for bit.ly. How about we try another approach and if the link is super big we should only the domain part? eg http://docs.google.com/... instead of that long google docs strirng.

[2020-05-15 06:31] bansalnagesh commented on #231
![image](https://user-images.githubusercontent.com/496330/82018891-cf4d3280-96a3-11ea-97ed-0f3ca71e556a.png)

[2020-05-17 21:43] #231 closed

[2020-05-20 04:31] ivanoblomov commented on #178
Sounds great to me! This would open the door to translations for other languages as well.

[2020-05-20 04:38] ivanoblomov commented on #128
+1 on your short and sweet suggestion. It's succinct and avoids having to find synonyms like "forum" or "platform", which are so overused as to have become meaningless. Just fix the typo:

[2020-05-21 19:17] anwaysomani opened #244 "Failed redirection to calling screen after profile update action"
After redirecting & making changes in the profile page, the application should redirect back to the page from where the profile action was called. Currently, it redirects back to the dashboard, and the project for which the changes were made is lost. User needs to trace back from browser to reach-back the project searched from the list.

[2020-05-21 19:25] sradu commented on #244
Yeah I agree with this.

[2020-05-27 03:28] tinnei opened #247 "[Office hours/ Booking System] design update after first draft"
Figma design link: https://www.figma.com/file/7PSJtPUtwrdPRtXbtQFRFZ/helpwithcovid.com?node-id=1498%3A12397

Tasks to be done:
**1 - Add "Your Office Hours" under "Your Account" in header**
![image](https://user-images.githubusercontent.com/9310999/82974451-e25adf00-9f8e-11ea-850f-4990221ffa13.png)

**2 - [Office hour index page]**
- update header button to URL
- update card layout (with new text

[2020-05-27 04:13] prophesy604 opened #248 "Add Links to HWC media kit/logos to the footer"
https://helpwithcovid.com/HWC-media-kit-badges.zip
https://helpwithcovid.com/HWC-media-kit-logos.zip

[2020-05-27 06:32] tinnei commented on #248
Design for media kit is here -- https://www.figma.com/file/7PSJtPUtwrdPRtXbtQFRFZ/helpwithcovid.com?node-id=1212%3A10628

[2020-05-27 17:21] #248 closed

[2020-05-29 18:05] colin-johnston commented on #247
Deleting an existing slot is super confusing. Can we put a delete action adjacent to edit on time slot hover state?

<img width="462" alt="Screenshot 2020-05-29 11 03 11" src="https://user-images.githubusercontent.com/1129103/83290858-371f7500-a19c-11ea-9a47-2a7100a9e6a7.png">

[2020-05-29 18:15] colin-johnston commented on #247
I think it's confusing and awkward that I need to make sure to delete the event that is auto created after creating a new slot before clicking 'Create slots' if I don't want to create that additional slot. E.g.

1. I enter info to create a new slot
<img width="840" alt="Screenshot 2020-05-29 11 06 38" src="https://user-images.githubusercontent.com/1129103/83291199-cdec3180-a19c-11ea-87ac-6c4843fce

[2020-05-29 18:16] colin-johnston commented on #247
🐞 This is a bug report:

When I created a slot for 2pm on a given day it then shows up as 9pm.

<img width="840" alt="Screenshot 2020-05-29 11 06 38" src="https://user-images.githubusercontent.com/1129103/83291782-c4af9480-a19d-11ea-93ac-30103193e21d.png">

<img width="421" alt="Screenshot 2020-05-29 11 07 09" src="https://user-images.githubusercontent.com/1129103/83291803-cbd6a280-a19d-11ea-9c3b-

[2020-05-29 22:11] sradu commented on #247
These should all be resolved. LMK if anything was missed.

[2020-06-25 19:31] #221 closed

[2020-06-28 17:28] prophesy604 opened #254 "Add 1hour to Resources Page"
Please add 1hour to Resource Page under
![image](https://user-images.githubusercontent.com/2389662/85954098-19802f80-b943-11ea-9379-3d486749506f.png)

Link to: https://1hour.life/

[2020-06-30 12:22] prophesy604 commented on #254
@sradu Is this possible? I'm not sure, this was requested by the PO of 1hour.life. They also just launched mobile apps.

[2020-07-01 22:51] tinnei opened #255 "[Resource page] Small updates"
Add the following to "upcoming event":
1. Event name:  COVID 19 Global Hackathon 2.0: Social & Mental Health.
Date: July 3 - July 12
CTA: Register here (link: https://covid-global-hackathon-2.devpost.com/)

2. Event name: Keynote speaker with Justin Kan, Help With Covid, Deed, 7 Cups
Date: Sunday, July 5th
Time: 10am- 12pm PST
CTA: Mark your calender (link: https://calendar.google.com/calendar/r/e

[2020-07-02 05:06] #255 closed

[2020-07-03 03:08] jamiew commented on #99
* New Haven HelpWithCovid
* Africa Covid-19 Response Toolkit
* Opendata CH
* Fund Covid
* Covid Volunteers Kickstarter
* HelpWithCovid Australia

[2020-07-03 06:12] fuzzy-memory opened #257 "Report a Project"
A _Report Project_ functionality; similar to how you can _Report Accounts_ on social media. The feature will enable volunteers to bring potentially unrelated projects/ projects that are misusing the platform to the notice of the moderators of HWC.
It doesn't have to be too complicated. It could be as simple as someone clicking a _"Report"_ button on a project and the moderators getting some sort o

[2020-07-14 23:09] jamiew opened #262 "Redirect /offers to /resources"
Ideally would also rename the code as well, but easy to start
with just the URLs.

Should redirect any old offer URLs, although I'm not sure
if we ever erally linked to any offers directly.

[2020-07-21 14:49] prophesy604 opened #265 "HWBE - Footer links"
Please update the github link to go to the HWBE repo

Please remove media kit or update media kit for HWBE

[2020-07-21 20:28] jamiew opened #266 "Redirect site to canonical URL"
Redirect to Setting.site_url. Avoid issues with .herokuapp.com URLs still working even though site is in 'live' mode

[2020-07-21 20:38] jamiew commented on #265
This is fixed in 9b54d574fa937d3340d3f703b3b3bda2eb33b259

[2020-07-21 20:38] #265 closed

[2020-07-21 20:39] jamiew commented on #265
<img width="642" alt="Screen Shot 2020-07-21 at 4 29 13 PM" src="https://user-images.githubusercontent.com/1903/88104614-b152f100-cb70-11ea-965d-bd121637175e.png">

[2020-07-21 20:40] jamiew commented on #178
@agustinf @ivanoblomov in #263 we have added support for generic themes, which includes internationalizing the app as well. Any interest in helping translate? Will be usable in all new forks of HelpWithCovid as well

[2020-07-21 21:32] ivanoblomov commented on #178
Happy to help Jamie, but I only know English and Spanish. Which languages were you thinking?

[mobile]
Let us help you create complete iOS & web solutions for today's post-PC world.
http://FoveaCentral.com • https://www.linkedin.com/in/monje/

[2020-07-21 22:39] jamiew commented on #178
Having Spanish would be amazing! We will be merging in branch soon and I
can tag you if ok. You can see current en.yml file in there now

On Tue, Jul 21, 2020 at 5:32 PM Roderick Monje <notifications@github.com>
wrote:

--
@jamiew <https://twitter.com/jamiew> | https://jamiedubs.com
<https://www.jamiedubs.com/>

[2020-07-22 18:49] ivanoblomov commented on #178
Right on @jamiew, taking a stab now!

[2020-07-23 04:23] ivanoblomov commented on #178
@jamiew it's in progress here: https://github.com/helpwithcovid/covid-volunteers/compare/helpwithblackequity...ivanoblomov:helpwithblackequity

[2020-07-23 13:38] jamiew commented on #178
Amazing! I will check it out this afternoon

On Thu, Jul 23, 2020 at 12:23 AM Roderick Monje <notifications@github.com>
wrote:

--
@jamiew <https://twitter.com/jamiew> | https://jamiedubs.com
<https://www.jamiedubs.com/>

[2020-07-23 21:45] jamiew opened #270 "Remove hard-coded categories from tests & seeds"
Still many references to 'Reduce spread', etc, particularly in the seeds. We should use a generic dataset for the core app, and break anything Covid-specific into a new repo

[2020-07-23 21:48] jamiew opened #271 "Fork HelpWithCovid and HelpWithBlackEquity from a core HelpWith app"
Now that we're adding theme support, it makes sense to rebrand this app
as simply 'HelpWith' and make the initial data more generic.

Part of that means splitting anything Covid or BlackEquity-related into
their own custom themes and repositories, like the current `helpwithblackequity` branch

While working with branches is simpler, each app might have their own contributors,
build settings, webho

[2020-07-27 22:09] jamiew opened #274 "Create a better 404 page"
Currently just using the Rails default. So boring! So boxy!

[2020-07-30 20:01] prophesy604 opened #275 "HWBE - Project Extract"
@sradu  @jamiew  Please provide an extract of projects on HWBE . This is to contact the project owners to talk to them about the project needs.

Fields:

Project ID
Project Name
Project Owner Email Address
Organization Status

-----
Priority level: High

[2020-07-31 00:24] prophesy604 opened #276 "Provide Organization Status in the JSON output of projects"
Provide organization status field as an output on

http://helpwithcovid.com/projects.json

@jamiew @sradu

Priority level: high

[2020-08-04 02:36] prophesy604 opened #281 "HWBE - Helpmainstreet.com directory"
Please map the following fields to businesses on HWBE and import to the database based on the api:

Business Name
Business Website
Long/Lat
Address

API Call: https://gifts.lunchbox.io/restaurants?limit=15000&centerLat=40.7462127&centerLong=-73.9897819&distance=3000000&categories=blackowner

@jamiew @shen-sat

[2020-08-06 15:25] prophesy604 opened #283 "HWBE -Create a Business form"
https://www.helpwithblackequity.com/businesses/new

Please add following fields:

Phone Number
Location

@shen-sat @jamiew

[2020-08-13 14:53] cooknat commented on #257
picking this up with @shen-sat

[2020-08-13 15:20] cooknat commented on #257
We've just been discussing this and wondering if it would be better to just leave this - there is a 'contact us' email address people can use, and adding a 'report this project' button to a project page changes the feel of the page. On social media such as instagram, the report/block user functionality is hidden in a drop down menu but the navigation on HWC doesn't have any of these. Thoughts? If

[2020-08-13 15:23] cooknat commented on #262
Is the ideal situation here that the Offers controller/model etc are renamed to Resources?

[2020-08-13 15:28] shen-sat commented on #266
Hey @jamiew! What do you mean by redirecting to `Setting.site_url`? And when do you want to redirect to it?

[2020-08-13 15:33] cooknat commented on #276
picking this up with @shen-sat

[2020-08-24 17:44] tiffanywschan opened #292 "Update New Haven team page"
- Remove Jill and Eda from Communications Unit and slot them into Alumni.
- Add Esau Greene to Liaison Unit. His title is "Quinnipiac University Liaison Officer"

[2020-08-24 17:45] #292 closed, assigned to nobody

[2020-09-01 13:39] shen-sat commented on #283
Hey @prophesy604 I think this is an old issue - close?

[2020-09-01 13:40] shen-sat commented on #281
@prophesy604 old issue - close?